.homecontainer
{
    padding: 50px 100px;
    min-height: 500px;
    background-color: #000814;
}

@media screen and (max-width:700px) {
    .homecontainer
        {
            padding: 50px 10px;            
        }
}