.dpContainer
{
    display: flex;
    align-items: center;
    border-radius: 50%;
    /* border: 2px rgb(0, 0, 0) solid; */
    position: relative;
    cursor: pointer;
}
.dpPhoto
{
    height:50px;
    border-radius: 50%;
}