@tailwind base;
@tailwind components;
@tailwind utilities;


img { 
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    user-drag: none; 
  }

  /* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ef476f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e42f59;
}